   * {
    padding: 0;
    margin: 0;
    }
body {
    background-color: #ECF5FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    }
#container {
    margin: 10px auto;
    width: 276px;
    }
.wrapper {
    border: 1px solid #a7a7a7;
    background-color: #f3f3f3;
    padding: 8px;
    margin-bottom: 20px;
    }
.wrapper form {
    background-color: White;
    padding: 15px;
    overflow: auto;
    }
.wrapper form div {
    overflow: auto;
    }
body h1 {
    font-size: 16px;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 7px;
    margin-bottom: 10px;
    }
body label {
    font-size: 12px;
    padding-left: 15px;
    border-left: 1px solid #1e5791;
    display: block;
    margin-bottom: 10px;
    }
body label span {
    background-color: #e9e9e9;
    display: block;
    padding: 4px;
    margin-top: 4px;
    }
body label span.text {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    }
body input, body textarea {
    width: 228px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 7px;
    margin-bottom: 10px;
    text-align: right;
    }
body #submit {
    width: auto;
    border: 1px solid #a7a7a7;
    margin-top: 5px;
    padding: 4px 6px;
    height: 30px;
    float: right;
    }
body a {
    display: block;
    float: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #2976c2;
    }
.entry {
    background-color: White;
    padding: 15px;
    overflow: auto;
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 10px;
    }
.entry .data {
    float: right;
    }
.entry pre {
    border-top: 1px dotted #a7a7a7;
    padding-top: 5px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }
table {
}
table tr td {
    font-size: 14px;
    width: 50px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #EDEDED #DEDEDE #DEDEDE #EDEDED;
    background-color: #f5f5f5;
    }
table tr td:hover {
    background-color: #ebebeb;
    }
table tr td:active {
    background-color: #ECF5FF;
    }


/* msg boxs------------------------------*/
body .msg {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    margin-bottom: 15px;
    }
body .msg div {
    background-color: White;
    padding: 15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 14px 10px;
    font-size: 12px;
    }
body .msg h3 {
    font-size: 14px;
    margin-bottom: 4px;
    }
/* error box */
body .error {
    background-color: #f5dc63;
    border-color: #d29c34;
    }
/* info box */
body .info {
    background-color: #69a5e0;
    border-color: #1e5791;
    }
/* success box */
body .success {
    background-color: #b3d565;
    border-color: #82a62d;
    }